@import url('components/header.css');
@import url('components/banner.css');
@import url('normalize.css');

*{
font-family: 'Lato', sans-serif;
color:var(--text);
}

.wrapper{
    max-width: 1366px;
    border:1px dashed grey;
    margin: 0 auto;
}
:root{
    --gold:#FAC663;
    --orange:#FF7236;
    --text:#1A212F;
    --white:#FFFEFD;
}