.banner{
    background: linear-gradient(89.92deg, rgba(240, 201, 113, 0.43) 40.86%, rgba(240, 201, 113, 0) 56.67%), 
    linear-gradient(82.24deg, #F0C971 2.26%, rgba(240, 201, 113, 0) 52.92%), url('../../images/banner.png');
    height: 500px;
    background-size: cover;
}
.mask{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.mask img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}