.card-img{
    width:91px;
    height: 91px;
}
.card-title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
}
.card-desc{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    text-align: justify;
}
.card-box{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.adv-card{
    width:25%;
    padding:30px;
    margin: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}